NODE_ENV=development
# Server
SERVER_PORT=3000

# Crypto
APP_KEY=change-me

# MongoDB
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=patchcord
MONGO_USERNAME=patchcord
MONGO_PASSWORD=change-me

# S3
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=patchcord
S3_ACCESS_KEY=patchcord
S3_SECRET_KEY=change-me

# MinIO
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9090

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Mediasoup
MEDIASOUP_ANNOUNCED_IP=localhost